/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-content-background: #191a23;
  --ion-color-content-background-rgb: 25, 26, 35;
  --ion-color-content-background-contrast: #ffffff;
  --ion-color-content-background-contrast-rgb: 255, 255, 255;
  --ion-color-content-background-shade: #16171f;
  --ion-color-content-background-tint: #303139;

  --ion-color-content-containers: #262836;
  --ion-color-content-containers-rgb: 38, 40, 54;
  --ion-color-content-containers-contrast: #ffffff;
  --ion-color-content-containers-contrast-rgb: 255, 255, 255;
  --ion-color-content-containers-shade: #212330;
  --ion-color-content-containers-tint: #3c3e4a;

  --ion-color-content-containers-light: #dddde0;
  --ion-color-content-containers-light-rgb: 221, 221, 224;
  --ion-color-content-containers-light-contrast: #000000;
  --ion-color-content-containers-light-contrast-rgb: 0, 0, 0;
  --ion-color-content-containers-light-shade: #c2c2c5;
  --ion-color-content-containers-light-tint: #e0e0e3;

  --ion-color-content-background-light: #e7e7e8;
  --ion-color-content-background-light-rgb: 231, 231, 232;
  --ion-color-content-background-light-contrast: #000000;
  --ion-color-content-background-light-contrast-rgb: 0, 0, 0;
  --ion-color-content-background-light-shade: #cbcbcc;
  --ion-color-content-background-light-tint: #e9e9ea;

  --ion-color-primarias-rosa-forte: #b21a36;
  --ion-color-primarias-rosa-forte-rgb: 178, 26, 54;
  --ion-color-primarias-rosa-forte-contrast: #ffffff;
  --ion-color-primarias-rosa-forte-contrast-rgb: 255, 255, 255;
  --ion-color-primarias-rosa-forte-shade: #9d1730;
  --ion-color-primarias-rosa-forte-tint: #ba314a;

  --ion-color-primarias-rosa: #b21a36;
  --ion-color-primarias-rosa-rgb: 178, 26, 54;
  --ion-color-primarias-rosa-contrast: #ffffff;
  --ion-color-primarias-rosa-contrast-rgb: 255, 255, 255;
  --ion-color-primarias-rosa-shade: #9d1730;
  --ion-color-primarias-rosa-tint: #ba314a;

  --ion-color-primarias-rosa-fraco: #e54d69;
  --ion-color-primarias-rosa-fraco-rgb: 229, 77, 105;
  --ion-color-primarias-rosa-fraco-contrast: #ffffff;
  --ion-color-primarias-rosa-fraco-contrast-rgb: 255, 255, 255;
  --ion-color-primarias-rosa-fraco-shade: #ca445c;
  --ion-color-primarias-rosa-fraco-tint: #e85f78;

  --ion-color-texto-preto: #191a23;
  --ion-color-texto-preto-rgb: 25, 26, 35;
  --ion-color-texto-preto-contrast: #ffffff;
  --ion-color-texto-preto-contrast-rgb: 255, 255, 255;
  --ion-color-texto-preto-shade: #16171f;
  --ion-color-texto-preto-tint: #303139;

  --ion-color-texto-preto: #262836;
  --ion-color-texto-preto-rgb: 38, 40, 54;
  --ion-color-texto-preto-contrast: #ffffff;
  --ion-color-texto-preto-contrast-rgb: 255, 255, 255;
  --ion-color-texto-preto-shade: #212330;
  --ion-color-texto-preto-tint: #3c3e4a;

  --ion-color-texto-preto-claro: #262836;
  --ion-color-texto-preto-claro-rgb: 38, 40, 54;
  --ion-color-texto-preto-claro-contrast: #ffffff;
  --ion-color-texto-preto-claro-contrast-rgb: 255, 255, 255;
  --ion-color-texto-preto-claro-shade: #212330;
  --ion-color-texto-preto-claro-tint: #3c3e4a;

  --ion-color-texto-cinza: #b1b2be;
  --ion-color-texto-cinza-rgb: 177, 178, 190;
  --ion-color-texto-cinza-contrast: #000000;
  --ion-color-texto-cinza-contrast-rgb: 0, 0, 0;
  --ion-color-texto-cinza-shade: #9c9da7;
  --ion-color-texto-cinza-tint: #b9bac5;

  --ion-color-texto-cinza-escuro: #d9dadf;
  --ion-color-texto-cinza-escuro-rgb: 217, 218, 223;
  --ion-color-texto-cinza-escuro-contrast: #000000;
  --ion-color-texto-cinza-escuro-contrast-rgb: 0, 0, 0;
  --ion-color-texto-cinza-escuro-shade: #bfc0c4;
  --ion-color-texto-cinza-escuro-tint: #dddee2;

  --ion-color-texto-branco: #e4e5ec;
  --ion-color-texto-branco-rgb: 228, 229, 236;
  --ion-color-texto-branco-contrast: #000000;
  --ion-color-texto-branco-contrast-rgb: 0, 0, 0;
  --ion-color-texto-branco-shade: #c9cad0;
  --ion-color-texto-branco-tint: #e7e8ee;

  --ion-color-tabs-icone-desativado: #444458;
  --ion-color-tabs-icone-desativado-rgb: 68, 68, 88;
  --ion-color-tabs-icone-desativado-contrast: #ffffff;
  --ion-color-tabs-icone-desativado-contrast-rgb: 255, 255, 255;
  --ion-color-tabs-icone-desativado-shade: #3c3c4d;
  --ion-color-tabs-icone-desativado-tint: #575769;

  --ion-color-tabs-icone-ativo: #e13756;
  --ion-color-tabs-icone-ativo-rgb: 225, 55, 86;
  --ion-color-tabs-icone-ativo-contrast: #ffffff;
  --ion-color-tabs-icone-ativo-contrast-rgb: 255, 255, 255;
  --ion-color-tabs-icone-ativo-shade: #c6304c;
  --ion-color-tabs-icone-ativo-tint: #e44b67;

  --ion-color-tabs-desativado-light: #b6b7c6;
  --ion-color-tabs-desativado-light-rgb: 182, 183, 198;
  --ion-color-tabs-desativado-light-contrast: #000000;
  --ion-color-tabs-desativado-light-contrast-rgb: 0, 0, 0;
  --ion-color-tabs-desativado-light-shade: #a0a1ae;
  --ion-color-tabs-desativado-light-tint: #bdbecc;

  --ion-color-texto-cinza-input: #878787;
  --ion-color-texto-cinza-input-rgb: 135, 135, 135;
  --ion-color-texto-cinza-input-contrast: #000000;
  --ion-color-texto-cinza-input-contrast-rgb: 0, 0, 0;
  --ion-color-texto-cinza-input-shade: #777777;
  --ion-color-texto-cinza-input-tint: #939393;

  --ion-color-azul-bebe: #56ccf2;
  --ion-color-azul-bebe-rgb: 86, 204, 242;
  --ion-color-azul-bebe-contrast: #000000;
  --ion-color-azul-bebe-contrast-rgb: 0, 0, 0;
  --ion-color-azul-bebe-shade: #4cb4d5;
  --ion-color-azul-bebe-tint: #67d1f3;

  --ion-color-laranja: #ee9b4e;
  --ion-color-laranja-rgb: 238, 155, 78;
  --ion-color-laranja-contrast: #000000;
  --ion-color-laranja-contrast-rgb: 0, 0, 0;
  --ion-color-laranja-shade: #d18845;
  --ion-color-laranja-tint: #f0a560;

  --ion-color-roxo: #9b51e0;
  --ion-color-roxo-rgb: 155, 81, 224;
  --ion-color-roxo-contrast: #ffffff;
  --ion-color-roxo-contrast-rgb: 255, 255, 255;
  --ion-color-roxo-shade: #8847c5;
  --ion-color-roxo-tint: #a562e3;

  --ion-color-verde: #6fcf97;
  --ion-color-verde-rgb: 111, 207, 151;
  --ion-color-verde-contrast: #000000;
  --ion-color-verde-contrast-rgb: 0, 0, 0;
  --ion-color-verde-shade: #62b685;
  --ion-color-verde-tint: #7dd4a1;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

.ion-color-content-background {
  --ion-color-base: var(--ion-color-content-background);
  --ion-color-base-rgb: var(--ion-color-content-background-rgb);
  --ion-color-contrast: var(--ion-color-content-background-contrast);
  --ion-color-contrast-rgb: var(--ion-color-content-background-contrast-rgb);
  --ion-color-shade: var(--ion-color-content-background-shade);
  --ion-color-tint: var(--ion-color-content-background-tint);
}

.ion-color-content-containers {
  --ion-color-base: var(--ion-color-content-containers);
  --ion-color-base-rgb: var(--ion-color-content-containers-rgb);
  --ion-color-contrast: var(--ion-color-content-containers-contrast);
  --ion-color-contrast-rgb: var(--ion-color-content-containers-contrast-rgb);
  --ion-color-shade: var(--ion-color-content-containers-shade);
  --ion-color-tint: var(--ion-color-content-containers-tint);
}

.ion-color-content-containers-light {
  --ion-color-base: var(--ion-color-content-containers-light);
  --ion-color-base-rgb: var(--ion-color-content-containers-light-rgb);
  --ion-color-contrast: var(--ion-color-content-containers-light-contrast);
  --ion-color-contrast-rgb: var(
    --ion-color-content-containers-light-contrast-rgb
  );
  --ion-color-shade: var(--ion-color-content-containers-light-shade);
  --ion-color-tint: var(--ion-color-content-containers-light-tint);
}

.ion-color-content-background-light {
  --ion-color-base: var(--ion-color-content-background-light);
  --ion-color-base-rgb: var(--ion-color-content-background-light-rgb);
  --ion-color-contrast: var(--ion-color-content-background-light-contrast);
  --ion-color-contrast-rgb: var(
    --ion-color-content-background-light-contrast-rgb
  );
  --ion-color-shade: var(--ion-color-content-background-light-shade);
  --ion-color-tint: var(--ion-color-content-background-light-tint);
}

.ion-color-primarias-rosa-forte {
  --ion-color-base: var(--ion-color-primarias-rosa-forte);
  --ion-color-base-rgb: var(--ion-color-primarias-rosa-forte-rgb);
  --ion-color-contrast: var(--ion-color-primarias-rosa-forte-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primarias-rosa-forte-contrast-rgb);
  --ion-color-shade: var(--ion-color-primarias-rosa-forte-shade);
  --ion-color-tint: var(--ion-color-primarias-rosa-forte-tint);
}

.ion-color-primarias-rosa {
  --ion-color-base: var(--ion-color-primarias-rosa);
  --ion-color-base-rgb: var(--ion-color-primarias-rosa-rgb);
  --ion-color-contrast: var(--ion-color-primarias-rosa-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primarias-rosa-contrast-rgb);
  --ion-color-shade: var(--ion-color-primarias-rosa-shade);
  --ion-color-tint: var(--ion-color-primarias-rosa-tint);
}

.ion-color-primarias-rosa-fraco {
  --ion-color-base: var(--ion-color-primarias-rosa-fraco);
  --ion-color-base-rgb: var(--ion-color-primarias-rosa-fraco-rgb);
  --ion-color-contrast: var(--ion-color-primarias-rosa-fraco-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primarias-rosa-fraco-contrast-rgb);
  --ion-color-shade: var(--ion-color-primarias-rosa-fraco-shade);
  --ion-color-tint: var(--ion-color-primarias-rosa-fraco-tint);
}

.ion-color-texto-preto {
  --ion-color-base: var(--ion-color-texto-preto);
  --ion-color-base-rgb: var(--ion-color-texto-preto-rgb);
  --ion-color-contrast: var(--ion-color-texto-preto-contrast);
  --ion-color-contrast-rgb: var(--ion-color-texto-preto-contrast-rgb);
  --ion-color-shade: var(--ion-color-texto-preto-shade);
  --ion-color-tint: var(--ion-color-texto-preto-tint);
}

.ion-color-texto-preto-claro {
  --ion-color-base: var(--ion-color-texto-preto-claro);
  --ion-color-base-rgb: var(--ion-color-texto-preto-claro-rgb);
  --ion-color-contrast: var(--ion-color-texto-preto-claro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-texto-preto-claro-contrast-rgb);
  --ion-color-shade: var(--ion-color-texto-preto-claro-shade);
  --ion-color-tint: var(--ion-color-texto-preto-claro-tint);
}

.ion-color-texto-cinza {
  --ion-color-base: var(--ion-color-texto-cinza);
  --ion-color-base-rgb: var(--ion-color-texto-cinza-rgb);
  --ion-color-contrast: var(--ion-color-texto-cinza-contrast);
  --ion-color-contrast-rgb: var(--ion-color-texto-cinza-contrast-rgb);
  --ion-color-shade: var(--ion-color-texto-cinza-shade);
  --ion-color-tint: var(--ion-color-texto-cinza-tint);
}

.ion-color-texto-cinza-escuro {
  --ion-color-base: var(--ion-color-texto-cinza-escuro);
  --ion-color-base-rgb: var(--ion-color-texto-cinza-escuro-rgb);
  --ion-color-contrast: var(--ion-color-texto-cinza-escuro-contrast);
  --ion-color-contrast-rgb: var(--ion-color-texto-cinza-escuro-contrast-rgb);
  --ion-color-shade: var(--ion-color-texto-cinza-escuro-shade);
  --ion-color-tint: var(--ion-color-texto-cinza-escuro-tint);
}

.ion-color-texto-branco {
  --ion-color-base: var(--ion-color-texto-branco);
  --ion-color-base-rgb: var(--ion-color-texto-branco-rgb);
  --ion-color-contrast: var(--ion-color-texto-branco-contrast);
  --ion-color-contrast-rgb: var(--ion-color-texto-branco-contrast-rgb);
  --ion-color-shade: var(--ion-color-texto-branco-shade);
  --ion-color-tint: var(--ion-color-texto-branco-tint);
}

.ion-color-tabs-icone-desativado {
  --ion-color-base: var(--ion-color-tabs-icone-desativado);
  --ion-color-base-rgb: var(--ion-color-tabs-icone-desativado-rgb);
  --ion-color-contrast: var(--ion-color-tabs-icone-desativado-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tabs-icone-desativado-contrast-rgb);
  --ion-color-shade: var(--ion-color-tabs-icone-desativado-shade);
  --ion-color-tint: var(--ion-color-tabs-icone-desativado-tint);
}

.ion-color-tabs-icone-ativo {
  --ion-color-base: var(--ion-color-tabs-icone-ativo);
  --ion-color-base-rgb: var(--ion-color-tabs-icone-ativo-rgb);
  --ion-color-contrast: var(--ion-color-tabs-icone-ativo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tabs-icone-ativo-contrast-rgb);
  --ion-color-shade: var(--ion-color-tabs-icone-ativo-shade);
  --ion-color-tint: var(--ion-color-tabs-icone-ativo-tint);
}

.ion-color-tabs-desativado-light {
  --ion-color-base: var(--ion-color-tabs-desativado-light);
  --ion-color-base-rgb: var(--ion-color-tabs-desativado-light-rgb);
  --ion-color-contrast: var(--ion-color-tabs-desativado-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tabs-desativado-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-tabs-desativado-light-shade);
  --ion-color-tint: var(--ion-color-tabs-desativado-light-tint);
}

.ion-color-texto-cinza-input {
  --ion-color-base: var(--ion-color-texto-cinza-input);
  --ion-color-base-rgb: var(--ion-color-texto-cinza-input-rgb);
  --ion-color-contrast: var(--ion-color-texto-cinza-input-contrast);
  --ion-color-contrast-rgb: var(--ion-color-texto-cinza-input-contrast-rgb);
  --ion-color-shade: var(--ion-color-texto-cinza-input-shade);
  --ion-color-tint: var(--ion-color-texto-cinza-input-tint);
}

.ion-color-azul-bebe {
  --ion-color-base: var(--ion-color-azul-bebe);
  --ion-color-base-rgb: var(--ion-color-azul-bebe-rgb);
  --ion-color-contrast: var(--ion-color-azul-bebe-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azul-bebe-contrast-rgb);
  --ion-color-shade: var(--ion-color-azul-bebe-shade);
  --ion-color-tint: var(--ion-color-azul-bebe-tint);
}

.ion-color-laranja {
  --ion-color-base: var(--ion-color-laranja);
  --ion-color-base-rgb: var(--ion-color-laranja-rgb);
  --ion-color-contrast: var(--ion-color-laranja-contrast);
  --ion-color-contrast-rgb: var(--ion-color-laranja-contrast-rgb);
  --ion-color-shade: var(--ion-color-laranja-shade);
  --ion-color-tint: var(--ion-color-laranja-tint);
}

.ion-color-roxo {
  --ion-color-base: var(--ion-color-roxo);
  --ion-color-base-rgb: var(--ion-color-roxo-rgb);
  --ion-color-contrast: var(--ion-color-roxo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-roxo-contrast-rgb);
  --ion-color-shade: var(--ion-color-roxo-shade);
  --ion-color-tint: var(--ion-color-roxo-tint);
}

.ion-color-verde {
  --ion-color-base: var(--ion-color-verde);
  --ion-color-base-rgb: var(--ion-color-verde-rgb);
  --ion-color-contrast: var(--ion-color-verde-contrast);
  --ion-color-contrast-rgb: var(--ion-color-verde-contrast-rgb);
  --ion-color-shade: var(--ion-color-verde-shade);
  --ion-color-tint: var(--ion-color-verde-tint);
}
